@model string

    <form method="post">
        <div class="row">
            <div class="offset-2 col-10">
                <b>Bearer Token</b>&nbsp;
                <div class="input-group">
                    <input type="text" class="form-control" name="bearerToken" id="bearerToken" placeholder="eyJraWQiOiJiNjRjNjZmZS00ZWY..." value="@Model">
                    &nbsp;
                    <span class="input-group-btn">
                        <button class="btn btn-outline-danger" type="submit">Bora!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
