<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Gasto No IFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="border-bottom box-shadow text-center">
            <div class="container text-center">
                <h1>Meu Gasto No IFood</h1>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <p><b>Quer contribuir? <a href="https://github.com/AndreMendesMarcondes/gastoIffod" target="_blank"> GastoIfood</a> </b></p>
        <p><b>Developed with <span style="color:red">&#10084;</span> by <a href="https://github.com/AndreMendesMarcondes" target="_blank"> André Mendes</a> </b></p>
    </footer>
    <style>
        footer {
            height: 100px;
            bottom: 0;
            width: 100%;
            margin-top: 40px;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
